* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body {
    text-align: center;
    position: relative;
    background-color: #fdd835;
    color: white;
    max-width: 1280px;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.myFooter {
    background-color: black;
    color: white;
    text-align: left;
    height: 50px;
    display: flex;
    justify-content: left;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li, href {
    flex: 1 1 auto;
    background-color: black;
    color: white;
}

.myQuestionService {
    margin: 2.5rem;
    background-color: #fdd835;
    color: black;
    text-align: center;
    height: 25px;
}

h1 {
    margin: 4rem;
    flex: 1 1 auto;
    background-color: #fdd835;
    color: black;
}

.myH5, .Paragraphe {
    /* margin: 4rem;
    flex: 1 1 auto; */
    background-color: #fdd835;
    color: black;
}

a, .infoMandatory {
    background-color: #fdd835;
    color: red;
    text-align: center;
}

.myTarifs {
    background-color: #fdd835;
    color: black;
    text-align: left;
}

.myMainTarif, .myTitleConnexion, .myTitleRegistration {
    text-decoration: underline;
}

.input_Registration {
    text-align: left;
}

.myTarifsServices, .myTitleAvis,
.myGallery, .myTitleGallery, .mainFormRegistration,
.myAvis, .myTitleContact, .myContact,
.myFormLogin, .myService,
.myReturn, .myInstallation, .myMaintenance,
.myOtherServices, .myElectricityDiy, h2, h3, h4, h5,
.detail_Choice_label, mySpanA {
    background-color: #fdd835;
    color: black;
    text-align: center
}

.myConnexion {
    margin: 1px 300px 1px 300px;
}

.myFooterP {
    background-color: black;
    color: white;
    text-align: left;
    height: 50px;
    display: flex;
    justify-content: left;
}

.myA {
    background-color: black;
    color: white;
    text-align: right;
    height: 50px;
    display: flex;
    justify-content: right;
}

.form_Field {
    margin: 0.5rem;
    padding: 0.1rem;
    border: 2px solid black;
}

.form_Field_R {
    margin: 5px 400px 5px 400px;
    border: 2px solid black;
}

.form_field_registration {
    margin: 1px 380px 1px 380px;
    border: 2px solid black;
}

.serviceRequestForm, .serviceRequestTable {
    margin: 1px 200px 1px 200px;
    border: 2px solid black;
}

.myService {
    margin: 1px 200px 1px 200px;
}

.myService1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.myCategories {
    margin: 1px 52px 1px 52px;
}
.myCategories1 {
    margin: 1px 40px 1px 40px;
}

.myRegistration {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.myContact2 {
    background-color: #fdd835;
    color: black;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input:invalid {
    border: 2px dashed red;
}

input:valid {
    border: 1px solid black;
}

input {
    background-color: #fdd835;
    color: black;
    border: 1px solid black;
    margin: 4px 5px 4px 5px;
}

.detail_Choice_input, .number_Choice_input, th, td {
    background-color: #fdd835;
    color: black;
    height: 11px;
    text-align: center;
}

tr {
    border: 1.5px solid black;
}

.myInstallation, .myMaintenance, .myElectricityDiy {
    margin: 0px 400px 0px 400px;
}

.myOtherServices {
    margin: 0px 380px 0px 380px;
}

.installationTable, .maintenanceTable, .electricityDiyTable {
    width: 440px;
    height: 80px;
    border-collapse: collapse;
    border: 1px solid black;
}

.otherServicesTable {
    width: 400px;
    height: 180px;
    border-collapse: collapse;
    border: 1.5px solid black;
}

.myLabel {
    background-color: #fdd835;
    color: black;
    display: block;
    width: 200px;
    float: left;
    margin: 0 20px 0 20px;
    text-align: left;
    font-size: 1.2rem;
}

.detail_Choice_label {
    background-color: #fdd835;
    color: black;
    font-weight: bold;
}

.myPicturesServices {
    background-color: #fdd835;
    color: black;
    text-align: left;
    height: 15em;
    width: 15em;
}

nav a {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
}

.myButton, .btn_return {
    margin: 1.5em;
    padding: 5px;
    display: inline;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    border-radius: 1rem;
}

.myLogo {
    height: 3em;
    width: 3em;
}

.myIcon {
    height: 2rem;
    width: 2rem;
}

.myMap {
    height: 19rem;
    width: 19rem;
}

.myPicture {
    height: 6rem;
    width: 6rem;
}

.sucessPicture {
    height: 7rem;
    width: 7rem;
}

#myTwoCol {
    column-count: 2;
}
#myThreeCol {
    column-count: 3;
}

@media screen and (max-width: 600px) {
    .myNav a:not(:first-child) {
        display: none;
    }

    .myNav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .myNav.responsive {
        position: relative;
    }

    .myNav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .myNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}