* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body {
    text-align: center;
    position: relative;
    background-color: #fdd835;
    color: whitesmoke;
    max-width: 1280px;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.myFooter {
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li, href {
    flex: 1 1 auto;
    background-color: black;
    color: white;
}

/* .myService {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
} */

.myQuestionService {
    margin: 4rem;
    background-color: #fdd835;
    color: black;
    text-align: center;
    height: 50px;
}
.myCategories {
    vertical-align: 200%
}

h1 {
    margin: 4rem;
    flex: 1 1 auto;
    background-color:  #fdd835;
    color: black;
}

.myTarifs {
    background-color: #fdd835;
    color: black;
    text-align: left;
}

.myTarifsServices, .myTitleAvis,
.myGallery, .myTitleGallery,
.myAvis, .myTitleContact, .myContact,
.myFormLogin, .myFormRegistration,
.myConnexion, .myService {
    background-color: #fdd835;
    color: black;
    text-align: center;
}

.form_field {
    margin: 1rem;
}
.myContact2 {
    background-color: #fdd835;
    color: black;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
input:invalid {
    border: 2px dashed red;
  }
  
input:valid {
    border: 1px solid black;
  }

#myTwoCol {
    column-count: 2;
}

.myPicturesServices {
    background-color: #fdd835;
    color: black;
    text-align: left;
    height: 15em;
    width: 15em;
}

nav a {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
}

.myButton {
    margin: 2em;
    padding: 10px;
    display: inline;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    border-radius: 1rem;
}

span {
    margin: 20rem;
    flex: 1 1 auto;
    background-color: #fdd835;
    color: black;
}

.myLogo {
    height: 3em;
    width: 3em;
}

.myIcon {
    height: 2rem;
    width: 2rem;
}

.myMap {
    height: 25rem;
    width: 25rem;
}
.myPicture{
    height: 8rem;
    width: 8rem;
}
@media screen and (max-width: 600px) {
    .myNav a:not(:first-child) {
        display: none;
    }

    .myNav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .myNav.responsive {
        position: relative;
    }

    .myNav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .myNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}