.logo {
    width: auto;
    height: 2em;
}

.myCarousel .carousel-item {
    height: 45vh;
}

.service-title {
    font-size: 2em;
}

.img-rea {
    height: 10rem;
    width: auto;
    object-fit: cover;
}

.map-iframe {
    height: 100%;
    width: 100%;
}

.customPad {
    padding-left: 8.5rem;
}

.login-row {
    height: 1.8em;
}

@media screen and (max-width: 480px) {

    .myCarousel .carousel-item {
        height: 30vh;
    }

    .service-title {
        font-size: 1em;
    }

    .customPad {
        padding-left: 1.7rem;
    }
}