body, .myMain {
    text-align: center;
    margin: 0;
    position: relative;
    display: block;
    background-color : #fdd835;
    color: whitesmoke;
    max-width: 1200px;
}

#buttonMobil {
    display: none;
}

nav ul {
    display: flex;
    padding: 0 auto;
    margin: 0;
    list-style: none;
}

nav li, href , h2{
    flex: 1 1 auto;
    background-color: black;
    color: white;
     
}

nav a {
    display: block;
    padding: 0.2em;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .myDisplay {
        display: block;
    }

    #buttonMobil {
        display: block;
        text-align: right;
        cursor: pointer;
        background-color: black;
        font-weight: bold;
        font-size: 1em;
        color: white;
    }

    nav a {
        padding-left: 0.5em;
        text-align: left;
        font-size: 1em;
    }

    nav ul {
        display: none;
    }
}
    .myLogo {
        height: 3em;
        width: 3em;
    }

    .myButton {
        text-align: center;
        margin: 2em;
        padding: 10px;
        display: inline;
        text-align: center;
        background-color: black;
        color: whitesmoke;
        border-radius: 1rem;
    }

    footer {
        position: absolute;
        bottom: auto;
        left: 0;
        right: 0;
        height: auto;
        width: 100%;
        padding-top: 0.2em;
        background-color: black;
        color: whitesmoke;
    }

    .myInfo {
        background-image: url(/public/img/information.png);
    }

    .myDelete {
        background-image: url(/public/img/5598.jpg);
    }