<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link href="/public/style/style.css" rel="stylesheet" /> -->
	<link href="/public/style/style_responsive.css" rel="stylesheet" />

	<title>JP INFO BRICO SERVICES</title>
</head>

<body>
	<header class="site-header">
		<div class="myNav" <!-- NavBar pour naviguer dans le site. -->
			<nav>
				<ul id="myMenu">
					<li><img src="/public/pictures/Logo JP INFO BRICO SERVICES.png" alt="Logo JP INFO BRICO SERVICES"
							class="myLogo" />
					<li></br>JP INFO BRICO SERVICES</li>
					<li></br><a href="/app/views/nos_services">Nos services</a></li>
					<li></br><a href="/app/views/tarifs/">Tarifs</a></li>
					<li></br><a href="/app/views/galerie_photos/">Galerie photos</a></li>
					<li></br><a href="/app/views/connexion/">Connexion</a></li>
					<li></br><a href="/app/views/avis_clients/">Avis clients</a></li>
					<li></br><a href="/app/views/contact/">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<div class="myTitleAvis">
		<br>
		<h3>Avis clients</h3>
		<br>
		<h3>Ce que disent nos clients</h3>
	</div>
	<div class="myAvis" id="myTwoCol">
		<img src="/public/pictures/46k8pmb389.png" alt="" loading="lazy"></picture>
		<h3>Marc Fournier</h3>
		<h4>Directeur&nbsp;/&nbsp;Entreprise</h4>
		<p><em>"Voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni</em>.<em>"</em></p>

		<img src="/public/pictures/0s2dszb389.png" alt="" loading="lazy">
		<h3>Louise Chevalier</h3>
		<h4>Marketing&nbsp;/&nbsp;Entreprise</h4>
		p><em>"Commodi consequatur quis autem vel eum iure reprehenderit qui</em>.<em>"</em></p>

		<img src="/public/pictures/2x7px2b389.png" alt="" loading="lazy"></picture>
		<h3>Sarah Lemaire</h3>
		<h4>Ventes&nbsp;/&nbsp;Entreprise</h4>
		<p><em>"Dolore magnam aliquam quaerat voluptatem ut enim ad minima</em>.<em>"</em></p>

		<img src="/public/pictures/3shhovb389.png" alt="" loading="lazy"></picture>
		<h3>Jules Bertrand</h3>
		<h4>Directeur&nbsp;/&nbsp;Entreprise</h4>
		<p><em>"Aspernatur aut odit aut fugit sed quia consequuntur magni dolores</em>.<em>"</em></p>
	</div>
	<!-- Et voici notre pied de page utilisé sur toutes les pages du site -->
	<footer class="myFooter">
		</br>
		<p>© 2022 JP INFO BRICO SERVICES - 8, rue de Pierrement - Hameau de Pierrement - 76390 Criquiers.</p>
	</footer>
</body>

</html>