<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link href="/public/style/style.css" rel="stylesheet" /> -->
	<link href="/public/style/style_responsive.css" rel="stylesheet" />

	<title>JP INFO BRICO SERVICES</title>
</head>

<body>
	<header class="site-header">
		<div class="myNav" <!-- NavBar pour naviguer dans le site. -->
			<nav>
				<ul id="myMenu">
					<li><img src="/public/pictures/Logo JP INFO BRICO SERVICES.png" alt="Logo JP INFO BRICO SERVICES"
							class="myLogo" />
					<li></br>JP INFO BRICO SERVICES</li>
					<li></br><a href="/app/views/nos_services">Nos services</a></li>
					<li></br><a href="/app/views/tarifs/">Tarifs</a></li>
					<li></br><a href="/app/views/galerie_photos/">Galerie photos</a></li>
					<li></br><a href="/app/views/connexion/">Connexion</a></li>
					<li></br><a href="/app/views/avis_clients/">Avis clients</a></li>
					<li></br><a href="/app/views/contact/">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
<div class="myTitleContact">
<br><h3>Contactez-nous</h3><br>
</div>   
<div class="myContact" id="myTwocol">
	<iframe src="https://web-1083.webnode.com/widgets/googlemaps/?z=15&amp;a=8%2C+rue+de+Pierrement%2C+76390+Criquiers&amp;s=" style="position:absolute;top:0%;left:0%;width:100%;height:100%;" loading="lazy"></iframe>
<h3>JP INFO BRICO SERVICES</h3>
<p>8, rue de Pierrement - Hameau de Pierrement, 76390 Criquiers</p>
<h3>06 81 33 89 99</h3>
<h3>jpinfobricoservices@gmail.com
</div>

<!-- Et voici notre pied de page utilisé sur toutes les pages du site -->
<footer class="myFooter">
</br>
<p>© 2022 JP INFO BRICO SERVICES - 8, rue de Pierrement - Hameau de Pierrement - 76390 Criquiers.</p>
</footer>
</body>
</html>
