<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link href="/public/style/style.css" rel="stylesheet" /> -->
	<link href="/public/style/style_responsive.css" rel="stylesheet" />

	<title>JP INFO BRICO SERVICES</title>
</head>

<div class="myNav" <!-- NavBar pour naviguer dans le site. -->
	<<nav>
		<ul id="myMenu">
			<li><img src="/public/pictures/Logo JP INFO BRICO SERVICES.png" alt="Logo JP INFO BRICO SERVICES"
					class="myLogo" />
			<li></br>JP INFO BRICO SERVICES</li>
			<li></br><a href="/app/views/nos_services">Nos services</a></li>
			<li></br><a href="/app/views/tarifs/">Tarifs</a></li>
			<li></br><a href="/app/views/galerie_photos/">Galerie photos</a></li>
			<li></br><a href="/app/views/connexion/">Connexion</a></li>
			<li></br><a href="/app/views/avis_clients/">Avis clients</a></li>
			<li></br><a href="/app/views/contact/">Contact</a></li>
		</ul>
	</nav>
</div>
	<div class="myTarifsServices" id="myTwoCol">
		<br>
		<h4></h4><br>
		<h3>Tarifs de mes services</h3><br>
		<img class="myPicturesServices" src="/public/pictures/image1_JP_INFO_BRICO_SERVICES.png"
			alt="Logo2 JP INFO BRICO SERVICES" class="myPictyures" />
		<h4></h4><br>
		<h4></h4><br>
		<div class="myTarifs">
			<h3></h3><br>
			<br><p><strong>30 euros TTC l'heure, frais de déplacement inclus.&nbsp;<br></strong></p>
			<h4></h4><br>
			<p><strong>- 0 à 1 heure : 30 euros TTC<br></strong></p>
			<h4></h4><br>
			<p><strong>- ½ journée (4 heures) : 110 euros TTC</strong></p>
			<h4></h4><br>
			<p><strong>- 1 journée (8 heures) : 200 euros TTC</strong></p>
			<h4></h4><br>
			<p><strong>- 1 semaine (40 heures) : 950 euros TTC</strong></p>
			<h4></h4><br>
			<p><strong>- 1 mois ( 20 jours) : 3600 euros TTC</strong></p>
			<h4></h4><br>
			<p><strong>- Devis forfaire ou individualisé gratuit sur simple demande&nbsp;</strong></p>
		</div>
	</div></br>
	<!-- Et voici notre pied de page utilisé sur toutes les pages du site -->
	<footer class="myFooter">
		</br>
		<p>© 2022 JP INFO BRICO SERVICES - 8, rue de Pierrement - Hameau de Pierrement - 76390 Criquiers.</p>
	</footer>
	</body>

</html>